
# Project 1 Validation Notebook

You cannot write any code in this notebook – to actually work on the project, open `project.py` and `project.ipynb`.

The only purpose of this notebook is to give you a blank copy of `project.ipynb`,
so that you can go to **Kernel > Restart & Run All** and ensure that all public `grader.check` cells pass using just the code in your `project.py`.

**Before submitting Project 1, make sure that the call to `grader.check_all()` at the bottom of this notebook shows that all test cases passed!** 
If it doesn't, there's likely a function in `project.ipynb` that is not implemented correctly in `project.py`, or it could be that a function in `project.py` depends on an object (e.g. a DataFrame) that is not an argument to that function.

In [1]:
# Initialize Otter
import otter
grader = otter.Notebook("project.ipynb")

In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
import pandas as pd
import numpy as np
import os

In [4]:
from project import *

In [5]:
grades_fp = os.path.join('data', 'grades.csv')
grades = pd.read_csv(grades_fp)
grades.head()

,PID,College,Level,lab01,lab01 - Max Points,lab01 - Lateness (H:M:S),lab02,lab02 - Max Points,lab02 - Lateness (H:M:S),project01,...,discussion07 - Lateness (H:M:S),discussion08,discussion08 - Max Points,discussion08 - Lateness (H:M:S),discussion09,discussion09 - Max Points,discussion09 - Lateness (H:M:S),discussion10,discussion10 - Max Points,discussion10 - Lateness (H:M:S)
0,A99706914,SI,JR,99.735279,100.0,00:00:00,84.990171,100.0,00:00:00,75.282632,...,00:00:00,8.895294,10,00:00:00,10.000000,10,780:01:28,10.000000,10,00:00:00
1,A99237411,TH,JR,98.829476,100.0,00:00:00,50.784231,100.0,00:00:00,52.929482,...,669:12:21,9.022407,10,00:00:00,9.020283,10,00:00:00,9.437368,10,00:00:00
2,A99690544,SI,SR,86.513369,100.0,00:00:00,47.802820,100.0,00:00:00,46.122801,...,00:00:00,3.030538,10,00:04:51,7.613698,10,00:00:00,9.624617,10,00:00:00
3,A99427381,TH,JR,100.000000,100.0,00:00:00,100.000000,100.0,00:00:00,79.121806,...,00:00:00,10.000000,10,00:00:00,9.249126,10,00:00:00,10.000000,10,00:00:00
4,A99489712,SI,JR,66.506974,100.0,00:00:00,33.422412,100.0,00:00:00,41.823703,...,00:00:00,4.439606,10,00:00:00,4.485291,10,00:00:00,6.282712,10,00:00:00

In [6]:
grader.check("q1")

q1 results: All test cases passed!

In [7]:
grader.check("q2")

q2 results: All test cases passed!

In [8]:
grader.check("q3")

q3 results: All test cases passed!

In [9]:
grader.check("q4")

q4 results: All test cases passed!

In [10]:
grader.check("q5")

q5 results: All test cases passed!

In [11]:
grader.check("q6")

q6 results: All test cases passed!

In [12]:
grader.check("q7")

q7 results: All test cases passed!

In [13]:
grader.check("q8")

q8 results: All test cases passed!

In [14]:
final_breakdown_fp = os.path.join('data', 'final_exam_breakdown.csv')
final_breakdown = pd.read_csv(final_breakdown_fp)
final_breakdown.head()

,PID,Question 1 (5.0 pts),Question 2 (6.0 pts),Question 3 (8.0 pts),Question 4 (6.0 pts),Question 5 (10.0 pts),Question 6 (6.0 pts),Question 7 (10.0 pts),Question 8 (6.0 pts),Question 9 (9.0 pts),Question 10 (10.0 pts),Question 11 (4.0 pts),Question 12 (7.0 pts)
0,A99432453,3.0,6.0,8.0,5.0,5.0,6.0,4.0,3.0,4.0,4.0,4.0,4.0
1,A99152420,5.0,6.0,8.0,5.0,10.0,6.0,9.0,6.0,4.0,10.0,4.0,5.0
2,A99892710,3.0,5.0,8.0,4.0,4.0,5.0,3.0,6.0,9.0,9.0,4.0,7.0
3,A99381181,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,A99990217,4.0,6.0,8.0,6.0,7.0,6.0,7.0,5.0,9.0,4.0,4.0,7.0

In [15]:
final_breakdown.shape

(535, 13)

In [16]:
grades.loc[grades['PID'] == 'A99381181', 'Final']

86   NaN
Name: Final, dtype: float64

In [17]:
grader.check("q9")

q9 results: All test cases passed!

In [18]:
grades_combined = combine_grades(grades, raw_redemption(final_breakdown, [1, 2, 3, 7, 9, 12]))
grades_combined.head()

,PID,College,Level,lab01,lab01 - Max Points,lab01 - Lateness (H:M:S),lab02,lab02 - Max Points,lab02 - Lateness (H:M:S),project01,...,discussion08,discussion08 - Max Points,discussion08 - Lateness (H:M:S),discussion09,discussion09 - Max Points,discussion09 - Lateness (H:M:S),discussion10,discussion10 - Max Points,discussion10 - Lateness (H:M:S),Raw Redemption Score
0,A99706914,SI,JR,99.735279,100.0,00:00:00,84.990171,100.0,00:00:00,75.282632,...,8.895294,10,00:00:00,10.000000,10,780:01:28,10.000000,10,00:00:00,0.844444
1,A99237411,TH,JR,98.829476,100.0,00:00:00,50.784231,100.0,00:00:00,52.929482,...,9.022407,10,00:00:00,9.020283,10,00:00:00,9.437368,10,00:00:00,0.866667
2,A99690544,SI,SR,86.513369,100.0,00:00:00,47.802820,100.0,00:00:00,46.122801,...,3.030538,10,00:04:51,7.613698,10,00:00:00,9.624617,10,00:00:00,0.777778
3,A99427381,TH,JR,100.000000,100.0,00:00:00,100.000000,100.0,00:00:00,79.121806,...,10.000000,10,00:00:00,9.249126,10,00:00:00,10.000000,10,00:00:00,0.888889
4,A99489712,SI,JR,66.506974,100.0,00:00:00,33.422412,100.0,00:00:00,41.823703,...,4.439606,10,00:00:00,4.485291,10,00:00:00,6.282712,10,00:00:00,0.822222

In [19]:
grader.check("q10")

q10 results: All test cases passed!

In [20]:
grader.check("q11")

q11 results: All test cases passed!

In [21]:
grader.check_all()

q1 results: All test cases passed!

q10 results: All test cases passed!

q11 results: All test cases passed!

q2 results: All test cases passed!

q3 results: All test cases passed!

q4 results: All test cases passed!

q5 results: All test cases passed!

q6 results: All test cases passed!

q7 results: All test cases passed!

q8 results: All test cases passed!

q9 results: All test cases passed!


If you were able to go to **Kernel > Restart & Run All** and see all test cases pass above, and you've thoroughly tested your code yourself, you're ready to submit `project.py` to Gradescope!